:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.watermarks-block {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.watermarks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.watermarks-item {
  width: 10rem;
  height: 10rem;
  list-style: none;
  border-radius: 2rem;
  overflow: hidden;
  transition: transform .3s, border-color .3s;
  animation: fadeEffect .3s;
  border: 0.2rem solid transparent;
}

.watermarks-item.active {
  border: 0.2rem solid #095776;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.watermarks-item:hover {
  transform: scale(1.05);
}

.watermarks-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.button_plus {
  width: 35px;
  height: 35px;
  background: #fff;
  position: relative;
  cursor: pointer;
  border: 2px solid #095776;
  display: block;
}

.button_plus.--drag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #095776;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #095776;
  transition: 0.2s;
}

.watermark-form input{
  display: none;
}

.uploadOuter {
  text-align: center;
  padding: 4rem;

}
.dragBox {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 95px;
  color: #999;
  border: 2px dashed #ccc;
  display: inline-block;
  transition: transform 0.3s;
}
.draging {
  transform: scale(1.05);
}
#preview {
  text-align: center;
}

.uploadFile {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-wrapper canvas {
  display: none;
}

.inputs {
  display: none;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.canvas-wrapper.active .uploadOuter {
  display: none;
}
.canvas-wrapper.active canvas {
  display: block;

  margin: 0 auto;
  border-radius: 2rem;
  overflow: hidden;
  margin-top: 6rem;
}

.canvas-wrapper.active .inputs {
  display: flex;
}

.imagePreview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem;
  animation: fadeEffect .3s;
}

.imagePreview img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
